doctype 5
html(lang="en")
  head
    title www.octohost.io
  body
    h1 Welcome to octohost.
    h3 Coming soon.
      p 
        a(href="http://github.com/octohost/octohost/") Check out the source.
